@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

/* Enable dark variant in Tailwind v4 */
@custom-variant dark (&:where(.dark, .dark *));

/* =========================
   THEME TOKENS
========================= */
@theme {

  /* Fonts */
  --font-inter: Inter, sans-serif;
  --font-poppins: Poppins, sans-serif;



}

/* =========================
   Theme Variables
========================= */

:root {
  --background: var(--color-white);
  --foreground: var(--color-p4);

  --card: var(--color-gray);
  --border: var(--color-neutral);
  --btn: var(--color-s1);
}

.dark {
  --background: var(--color-p4);
  --foreground: var(--color-gray);

  --card: var(--color-p3);
  --border: var(--color-s4);
  --btn: var(--color-s4);
}

/* =========================
   Theme Tokens
========================= */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-border: var(--border);
  --color-btn: var(--btn);


   /* --------- Colors --------- */
  /* Primary - Blue */
  --color-p1: rgba(56, 118, 139, 1);
  --color-p2: rgba(26, 92, 138, 1);
  --color-p3: rgba(21, 80, 137, 1);
  --color-p4: rgba(14, 37, 79, 1);

  /* Secondary - Green */
  --color-s1: rgba(97, 197, 142, 1);
  --color-s2: rgba(87, 182, 145, 1);
  --color-s3: rgba(67, 166, 145, 1);
  --color-s4: rgba(48, 149, 148, 1);

  /* Neutral */
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-gray: rgba(233, 238, 240, 1);
  --color-transparent: transparent;

  /* Status */
  --color-success: rgba(2, 255, 150, 1);
  --color-error: rgba(253, 3, 3, 1);
  --color-warning: rgba(250, 234, 4, 1);
  --color-neutral: rgba(134, 134, 134, 1);

  
  /* Box Shadows */
  --shadow-100: 0px 4px 4px rgba(0, 0, 0, 0.25),
                0px 16px 24px rgba(0, 0, 0, 0.25),
                inset 0px 3px 6px #1959AD;

  --shadow-200: 0px 4px 4px rgba(0, 0, 0, 0.25),
                0px 16px 24px rgba(0, 0, 0, 0.25),
                inset 0px 4px 10px #3391FF;

  --shadow-300: 0px 4px 4px rgba(0, 0, 0, 0.25),
                0px 16px 24px rgba(0, 0, 0, 0.25),
                inset 0px 3px 6px #1959AD;

  --shadow-400: inset 0px 2px 4px 0 rgba(255, 255, 255, 0.05);

  --shadow-500: 0px 16px 24px rgba(0, 0, 0, 0.25),
                0px -14px 48px rgba(40, 51, 111, 0.7);

  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  
  /* Spacing */
  --spacing-22: 88px;
  --spacing-100: 100px;
  --spacing-330: 330px;
  --spacing-388: 388px;
  --spacing-400: 400px;
  --spacing-440: 440px;
  --spacing-512: 512px;
  --spacing-640: 640px;
  --spacing-960: 960px;
  --spacing-1230: 1230px;
  
  /* Percentage spacing */
  --spacing-1-5: 20%;
  --spacing-2-5: 40%;
  --spacing-3-5: 60%;
  --spacing-4-5: 80%;

  --spacing-3-20: 15%;
  --spacing-7-20: 35%;
  --spacing-9-20: 45%;
  --spacing-11-20: 55%;
  --spacing-13-20: 65%;
  --spacing-15-20: 75%;
  --spacing-17-20: 85%;
  --spacing-19-20: 95%;

  /* Z-index */
  --z-1: 1;
  --z-2: 2;
  --z-4: 4;
  
  /* Line height */
  --leading-12: 48px;

  /* Border radius */
  --radius-14: 14px;
  --radius-20: 20px;
  --radius-40: 40px;
  --radius-half: 50%;
  --radius-7xl: 40px;

  /* Transition */
  --transition-border-color: border-color;
}

/* =========================
   Base
========================= */

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;

    @apply font-poppins text-[16px] text-foreground tracking-[-0.03em] bg-background;
  }
  a {
    @apply no-underline;
  }
  img {
    @apply block max-w-full;
  }
  button {
    @apply tracking-[-0.03em] bg-transparent;
  }
  input {
    @apply tracking-[-0.03em];
  }
}

/* =========================
   Components
========================= */
@layer components {
.container {
    @apply max-w-7xl mx-auto px-6 py-4 lg:py-6 lg:px-16 ;
  }
  .nav-li {
    @apply flex items-center gap-3 px-3 py-2 rounded-md transition-colors duration-300 text-foreground;
  }

  .btn-primary {
   @apply font-medium bg-btn text-white hover:bg-card/60 px-4 py-2 rounded-full transform transition-transform duration-300 hover:scale-105 cursor-pointer;
  }

}



/* =========================
   utilities 
========================= */
@layer utilities {
/* flex system */
.flex-50 {
  flex: 0 0 50%;
}

.flex-320 {
  flex: 1px 0 320px;
}

.flex-300 {
  flex: 0 0 300px;
}

.flex-540 {
  flex: 0 0 540px;
}

.flex-280 {
  flex: 0 0 280px;
}

.flex-256 {
  flex: 0 0 256px;
}

.flex-100 {
  flex: 0 0 100%;
}

/* headings */
  .h-num {
    @apply font-inter text-[72px] font-bold leading-21;
  }

  .h1 {
    @apply text-[84px] font-bold leading-21 tracking-[-0.03em];
  }
  .h2 {
    @apply text-[64px] font-bold leading-16;
  }
  .h3 {
    @apply text-[48px] font-semibold leading-14 tracking-[-0.02em];
  }
  .h4 {
    @apply text-[40px] font-semibold leading-13;
  }
  .h5 {
    @apply text-[32px] font-semibold leading-10;
  }
}